.scena-fold-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 20px;
}
.scena-fold-icon:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 4px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.scena-fold-icon.scena-fold:before {
    border-right: 0;
    border-left: 4px solid #fff;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.scena-folder {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --file-padding: 10px;
}
.scena-folder .scena-folder .scena-properties {
    margin-left: var(--file-padding);
}
.scena-file {
    position: relative;
    border-bottom: 1px solid var(--back1);
}
.scena-shadows {
    position: absolute;
    pointer-events: none;
    transition: translateY(-50%);
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}
.scena-file.scena-selected {
    background: var(--mainColor);
}
.scena-file:before {
    position: absolute;
    left: calc(var(--file-padding) * var(--pointer-depth));
    width: 100%;
    height: 2px;
    background: #48f;
    transform: translateY(-50%);
}
.scena-file.scena-bottom-pointer:before {
    content: "";
    top: 100%;
}
.scena-file.scena-top-pointer:before {
    content: "";
    top: 0%;
}
