@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");
[class*="scena-"] {
    font-family: "Open Sans", sans-serif;
}

.scena-editor {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    --mainColor: #4af;
    --back1: #1a1a1a;
    --back2: #2a2a2a;
    --back3: #333;
    --back4: #444;
    --back5: #555;
    --back6: #666;
    transform-style: preserve-3d;
}

.scena-editor .scena-viewer {
    position: absolute !important;
    left: calc(30px + var(--menu));
    top: 30px;
    width: calc(100% - 30px - var(--menu) - var(--tabs));
    height: calc(100% - 30px);
}

.scena-viewport-container {
    position: relative;
}
.scena-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.scena-guides {
    position: absolute !important;
    top: 0;
    left: 0;
    transform: translateZ(1px);
}

.scena-guides.scena-horizontal {
    left: calc(var(--menu) + 30px);
    width: calc(100% - 30px - var(--menu) - var(--tabs));
    height: 30px !important;
}

.scena-guides.scena-vertical {
    top: 30px;
    left: var(--menu);
    height: calc(100% - 30px);
    width: 30px !important;
}

.scena-reset {
    position: absolute !important;
    background: var(--back3);
    width: 30px;
    height: 30px;
    z-index: 1;
    border-right: 1px solid var(--back4);
    border-bottom: 1px solid var(--back4);
    box-sizing: border-box;
    cursor: pointer;
    left: var(--menu);
    top: 0px;
}

.scena-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
}
.moveable-dimension {
    position: absolute;
    background: var(--mainColor);
    border-radius: 2px;
    padding: 1px 3px;
    color: white;
    font-size: 13px;
    white-space: nowrap;
    font-weight: bold;
    transform: translate(-50%);
    pointer-events: none;
}
