.scena-color-input {
    position: relative;
}
.scena-color-picker {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(10px) translateZ(1px);
    z-index: 10;
}

.scena-color-background {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4af;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.scena-color-background+.scena-input {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 40px);
}
