.scena-editor {
    --tabs: 40px;
    --tab: 200px;
}

.scena-tabs {
    position: absolute;
    right: 0;
    width: 80px;
    height: 100%;
    background: var(--back2);
    z-index: 10;
    transform: translateZ(10px);
    box-sizing: border-box;
    padding-top: 30px;
    transition: width ease 0.2s;
    text-align: left;
}

.scena-tab-icon {
    position: relative;
    margin: 5px;
}

.scena-tab-icon-label {
    position: relative;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    word-break: break-all;
    padding: 5px;
    width: 100%;
    line-height: 20px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    overflow: hidden;
}

.scena-tab-icon-label span {
    display: inline-block;
    pointer-events: none;
    font-size: 11px;
}

.scena-tab-icon.scena-selected .scena-tab-icon-label {
    background: var(--mainColor);
}

.scena-tab {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translate(-5px);
    width: var(--tab);
    padding: 0px 10px 10px;
    background: var(--back2);
    border-bottom: 1px solid var(--back1);
    text-align: left;
}

.scena-tab h2 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 0px;
}

.scena-tab-line {
    position: relative;
    display: block;
}

@media screen and (max-width: 800px) {
    .scena-tabs {
        width: 40px;
    }
    .scena-tabs.scena-over {
        width: 80px;
    }
    .scena-tab-icon-label span:first-letter {
        visibility: visible;
        font-size: 11px;
    }
    .scena-tab-icon-label {
        text-align: center;
    }
    .scena-tabs.scena-over .scena-tab-icon-label {
        text-align: left;
    }
    .scena-tab-icon-label span {
        visibility: hidden;
        font-size: 0;
        overflow: hidden;
    }
    .scena-tabs.scena-over .scena-tab-icon-label span {
        font-size: 11px;
        visibility: visible;
    }
}