body {
    --tabs: 200px;
}
.scena-tabs {
    position: absolute;
    right: 0;
    width: var(--tabs);
    height: 100%;
    background: var(--back2);
    z-index: 10;
    overflow-y: auto;
}
.scena-tab {
    padding: 0px 10px 10px;
    border-bottom: 1px solid var(--back1);
}
.scena-tab h2 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 0px;
}
.scena-tab-line {
    position: relative;
    display: block;
}
